body {
  margin:0;
  padding:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: aquamarine;
  
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

canvas {

  background-color: black;
}