@import url('https://fonts.googleapis.com/css?family=Prompt&display=swap');
body {
  margin: 0;
  padding: 0;
  background-color: #010301;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 130px;
}

canvas {
  font-family: 'Prompt', sans-serif;
}